<div class='container p-3 mb-2 bg-success text-dark'>
  <h1 class='text-danger bg-dark'>EAT-DA-BURGER</h1>


  <div class="row">

    <div class="col-md-3" id="burgerEat">
      <h2>Burgers on the Menu</h2>
      <ul>
        {{#each burgers}} {{#unless this.devoured}}
        <li>
          <h4>{{this.burger_name}}</h4>
          <h5>Order Number: {{this.id}}</h5>
          <button class="btn btn-md devour" type="submit" data-id="{{id}}" data-ate-burger="{{devoured}}">DEVOUR IT!</button>
        </li>
        {{/unless}} {{/each}}
      </ul>
    </div>

    <div class="col-md-6" id="burgerOrder">
      <div>
        <img class="card-img-top" src="/assets/images/burger.jpg" alt="Burger Image">
      </div>
      <form class="create-form">
        <div class="form-group">
          <label for="newBurger">Enter the name of the burger you would like to make.</label>
          <input type="text" name="burger_name" id="newBurger" value=" Burger Name" onfocus="this.value=''">
          
        </div>
        <button class="btn btn-lg add-burger" type="submit">Add New Burger to the Menu</button>
      </form>
    </div>

    <div class="col-md-3" id="burgerAte">
      <h2>Devoured Burgers</h2>
      <ul>
        {{#each burgers}} {{#if this.devoured}}
        <li>
          <h4>{{this.burger_name}}</h4>
          <h5>Order Number: {{this.id}}</h5>
          <button class="btn btn-md delete" type="submit" data-id="{{id}}">Delete Devoured Burger</button>
        </li>
        {{/if}} {{/each}}
      </ul>
    </div>

  </div>
</div>


<script>

$('.delete').on('click', function (event){
  event.preventDefault();

  var id = $(this).data('id');
  var table = 'burgers';
  var deleteBurger = {
    id: id,
    table: table
  };

  $.ajax('/', {
    type: 'DELETE',
    data: deleteBurger
  }).then(()=>{
    console.log('You deleted the burger with ID ' + id + ' from the database');
    location.reload();
  })

});



  $(".devour").on("click", function (event) {
    event.preventDefault();

    var id = $(this).data("id"); // this gives you the id of the burger from the DB
    var ateBurger = 1; // when we click this we ultimately are switching the 0 to a 1 (false to true)
    var table = 'burgers';
    var newAteBurger = // object we will pass to ajax containing data we need for SQL update
    {
      id: id,
      devoured: ateBurger,
      table: table
    };

    $.ajax('/', {
      type: 'PUT',
      data: newAteBurger
    }).then(
      function () {
        console.log('Changed devoured from false to ' + ateBurger);
        location.reload();

      });

  });

  $('.add-burger').on('click', function (event) {
    event.preventDefault();

    var ateBurger = 0;
    var table = 'burgers';
    var newBurger = $('input#newBurger').val();

    var newBurgerUpper = newBurger.toLowerCase()
    .split(' ')
    .map((s)=> s.charAt(0).toUpperCase() + s.substring(1))
    .join(' ');
    console.log(newBurgerUpper);

    var addThisBurger =
    {
      devoured: ateBurger,
      table: table,
      newBurger: newBurger,
      newBurgerUpper: newBurgerUpper
    };

    $.ajax('/', {
      type: 'POST',
      data: addThisBurger
    }).then(
      function () {

        console.log('Added ' + newBurgerUpper + ' to the database!');
        location.reload();

      });

  });

</script>